<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local-dynamo-revit" value="_LocalNuGet" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-dynamo-revit">
      <package pattern="DynamoVisualProgramming.Revit" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
